.container, #current-conditions {
    border: 1px solid black;
    margin-top: 20px;
}

.card {
    display: inline-block;
    margin: 5px 0;
    max-height: 260px;
    line-height: 1.2rem;
}

.card-body {
    font-size: 1rem;
    padding: 4px;
    color: white;
    background-color: #1f0d5c;
}

.icon {
    width: 50px;
}

#five-day {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:flex-start;
}

#past-searches {
    padding-left: 0;
}

input {
    width: 98%;
    max-width: 230px;
    display: block;
    margin-bottom: 6px;
}

h1 { 
    padding-left: 50%;
    background: linear-gradient(90deg, #6991E3,#261360);
    color: white;
    font-size: 2.2rem;
    line-height: 3.2rem;
}

h2 {
    display: inline-block;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

h4 {
    font-size: 1.3rem;
}

button {
    margin: 5px;
    width: 45%;
    color: white;
    background-color: #6991E3;
    display: inline-block;
}

button:hover {
    color:rgb(248, 175, 236)
}

form {
    padding-bottom: 12px;
    border-bottom: 2px solid gray;
}

ul {
    padding-left: none;
}

li {
    background-color: #AEAEAE;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
    border-radius: 5px;
    margin: 12px auto;
    height: 35px;
    line-height: 35px;
}

li:hover {
    color: rgb(248,175,236);
    cursor: pointer;
}

li:active {
    background-color: white;
}

p  {
    font-weight: 600;
}


@media screen and (max-width: 1200px){
    .card-body {
        font-size: 0.8rem;
}

button {
    width: 40%;
}
}

@media screen and (max-width: 992px){
    .container{
        background-color: rgb(228, 238, 233);
    }

    #current-conditions {
        background-color: whitesmoke;
    }
    
    .card {
        margin: 5px auto;
        width: 30%;
    } 

    .card-body {
        font-size: 1.0rem;
    }

    button {
        width: 80%;
        margin: 5px auto; 
        display: block;
    }

}

@media screen and (max-width: 768px){
    #search-box h2 {
        padding-left: 20%;
    }
    
    .card {
        width: 48%;
    } 

    h3 {
        text-align: center;
    }

    #current-conditions {
        margin: 8px auto; 
    }

    h1 {
        padding-left: 30%;
    }
}

@media screen and (max-width: 500px){
    #search-box h2 {
        padding-left: 0%;
    }
    
    h3 {
        text-align: center;
    }

    ul, #clr-btn {
        display: none;
    }

    
    #search-box {
        width: 100%;
        text-align: center;
    }
    
    input[type=text] {
        margin: auto auto;
    }

    #forecast-info{
        width: 100%;
    }
    .card {
        width: 85%;
        text-align: center;
        line-height: 11px;
    } 

    .row {
        margin-top: 8px;
    }

    #current-conditions {
        padding-left: 25px;
    }

    h1 {
        padding: 0;
        text-align: center;
    }
}

